<?xml version="1.0" encoding="utf-8"?>
<configuration>

  
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>

  <connectionStrings>
    <!--<add name="youviame.Database.ConnectionString" connectionString="server=tcp:lingodevsqlserver.database.windows.net,1433; Database=youviame-Dev_TestingCopy; Trusted_Connection=True; Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="AuthContext" connectionString="server=tcp:lingodevsqlserver.database.windows.net,1433; Database=youviame-Dev.Auth_TestingCopy; Trusted_Connection=True; Integrated Security=true;" providerName="System.Data.SqlClient" />-->

    <add name="youviame.Database.ConnectionString" connectionString="Server=tcp:lingodevsqlserver.database.windows.net,1433;Initial Catalog=youviame-Dev_Logs;Persist Security Info=False;User ID=lingodevadmin;Password=Vinter2015;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"  />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
